<div th:fragment="spellsSearchForm">
    <form action="#" th:action="@{/spells/search}" th:object="${spellSearchDto}" method="post">
        <div class="row row-cols-1 row-cols-sm-5">

            <div class="col mb-1">
                <label for="name" class="form-label">Название</label>
                <input th:field="*{name}" class="form-control border-2 rounded-0 border-dark" type="text" id="name" placeholder="Название" aria-label="Название">
            </div>

            <div class="col mb-1">
                <label for="level" class="form-label">Уровень</label>
                <select th:field="*{level}" class="form-select border-2 rounded-0 border-dark" aria-label="Уровень заклинания" id="level">
                    <option selected th:value="null"></option>
                    <option th:value="0">Заговоры</option>
                    <option th:value="1">1</option>
                    <option th:value="2">2</option>
                    <option th:value="3">3</option>
                    <option th:value="4">4</option>
                    <option th:value="5">5</option>
                    <option th:value="6">6</option>
                    <option th:value="7">7</option>
                    <option th:value="8">8</option>
                    <option th:value="9">9</option>
                </select>
            </div>

            <div class="col mb-1">
                <label for="characterClass" class="form-label">Класс</label>
                <select th:field="*{characterClass}" id="characterClass" class="form-select border-2 rounded-0 border-dark" aria-label="Класс">
                    <option selected th:value="null"></option>
                    <option th:value="Волшебник">Волшебник</option>
                    <option th:value="Бард">Бард</option>
                    <option th:value="Друид">Друид</option>
                    <option th:value="Жрец">Жрец</option>
                    <option th:value="Изобретатель">Изобретатель</option>
                    <option th:value="Колдун">Колдун</option>
                    <option th:value="Паладин">Паладин</option>
                    <option th:value="Следопыт">Следопыт</option>
                    <option th:value="Чародей">Чародей</option>
                </select>
            </div>

            <div class="col mb-1">
                <label for="school" class="form-label">Школа</label>
                <select th:field="*{school}" id="school" class="form-select border-2 rounded-0 border-dark" aria-label="Школа">
                    <option selected th:value="null"></option>
                    <option th:value="Волшебник">Воплощение</option>
                    <option th:value="Бард">Вызов</option>
                    <option th:value="Друид">Иллюзия</option>
                    <option th:value="Жрец">Некромантия</option>
                    <option th:value="Изобретатель">Ограждение</option>
                    <option th:value="Колдун">Очарование</option>
                    <option th:value="Паладин">Преобразование</option>
                    <option th:value="Следопыт">Прорицание</option>
                </select>
            </div>

            <div class="col d-grid gap-2 align-items-end mb-1">
                <div class="btn-group">
                    <button type="reset" class="btn btn-outline-dark border-2 rounded-0 border-dark">Очистить</button>
                    <button type="submit" class="btn btn-dark rounded-0">Искать</button>
                </div>
            </div>
        </div>
    </form>

    <script
            src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
            integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</div>